<!DOCTYPE HTML>
<html>

<head>
	<title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="{{ .Site.Params.description }}" />
	<!--[if lte IE 8]><script src="/assets/css/ie/html5shiv.js"></script><![endif]-->
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/jquery.dropotron.min.js"></script>
	<script src="/assets/js/skel.min.js"></script>
	<script src="/assets/js/skel-layers.min.js"></script>
	<script src="/assets/js/init.js"></script>
	<link rel="stylesheet" href="/assets/css/skel.css" />
	<link rel="stylesheet" href="/assets/css/style.css" />
	<link rel="stylesheet" href="/assets/css/style-desktop.css" />
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
	<link rel="manifest" href="/assets/favicon/site.webmanifest">
	<link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#a24fe7">
	<link rel="shortcut icon" href="/assets/favicon/favicon.ico">
	<meta name="msapplication-TileColor" content="#603cba">
	<meta name="msapplication-config" content="/assets/favicon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	<!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie/v8.css" /><![endif]-->
</head>

<body class="homepage">
	{{ debug.Dump .Params }}

	<div id="header-wrapper">
		<div id="header">
			<h1><a href="/">{{ .Site.Title }}</a></h1>
			{{ partial "nav.html" . }}
			{{ block "banner" . }}{{ end }}
		</div>
	</div>

	<div id="main-wrapper">
		<div class="container">
			{{ block "main" . }}
			{{ end }}
		</div>
	</div>

	<div id="footer-wrapper" class="container footer-grid ">
		{{ partial "footer.html" . }}
	</div>
</body>

</html>