{{ define "main" }}
<div class="row">
	<div class="12u">
		<section class="post">
			<header class="major">
				<h2>{{ .Title }}</h2>
				<p>Posted {{ .Date.Format "Jan 2 2006" }} by {{ .Params.author }}</p>
			</header>
			<div class="row">
				<div class="8u -2u">
					<section class="box">
						<span class="image featured"><img src="{{ .Params.featured }}"
								alt="{{ .Params.title }}" /></span>
						{{ .Content }}
					</section>
				</div>
			</div>
			<footer class="major">
				{{ with .Params.address }}
				<a style="text-decoration: underline;"
					href="https://www.google.com/maps/dir/?api=1&travelmode=walking&destination={{ . }}">
					<h2>{{ . }}</h2>
				</a>
				{{ end }}
			</footer>
		</section>
	</div>
</div>
{{ end }}