{{ $connect_class := "alt fa-chain-broken disabled" }}
{{ with .connect_uri }}
  {{ $connect_class = "falt fa-link" }}
  {{ if in . "facebook.com" }}{{ $connect_class = "fa-facebook" }}{{ end }}
  {{ if in . "twitter.com" }}{{ $connect_class = "fa-twitter" }}{{ end }}
  {{ if in . "dribble.com" }}{{ $connect_class = "fa-dribble" }}{{ end }}
  {{ if in . "linkedin.com" }}{{ $connect_class = "fa-linkedin" }}{{ end }}
  {{ if in . "google.com" }}{{ $connect_class = "fa-google-plus" }}{{ end }}
  {{ if in . "tumblr.com" }}{{ $connect_class = "fa-tumblr" }}{{ end }}
  {{ if in . "github.com" }}{{ $connect_class = "fa-github" }}{{ end }}
{{ end }}
<a href="{{ .connect_uri }}" class="button icon {{ $connect_class }}">Connect</a>
