{{ define "renderMenu" }}
<ul>
  {{ $currentPage := .currentPage }}
  {{ range .menu }}
    <li class="{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}current{{ end }}">
      <a href="{{ .URL }}">{{ .Name }}</a>
      {{ if .HasChildren }}
        {{ template "renderMenu" (dict "currentPage" $currentPage "menu" .Children) }}
      {{ end }}
    </li>
  {{ end }}
</ul>
{{ end }}

<nav id="nav">
	{{ $currentPage := . }}
	{{ template "renderMenu" (dict "currentPage" $currentPage "menu" .Site.Menus.main) }}
</nav>