{{ $all_pages := where .Site.RegularPages "Type" "members" }}
{{ $semesters := where $all_pages "Params.semester_index" "!=" nil }}
{{ $semesters := sort $semesters "Params.semester_index" "inc"}}

{{ $semester_index := 0 }}
{{ range $i, $s := $semesters }}
{{ if eq .Permalink $.Permalink }}
{{ $semester_index = $i }}
{{ end }}
{{ end }}

{{ $first_semester_index := 0 }}
{{ $prev_semester_index := sub $semester_index 1 }}
{{ $last_semester_index := sub (len $semesters) 1 }}
{{ $next_semester_index := add $semester_index 1 }}

<section>
	<header class="major">
		{{ if ge $prev_semester_index $first_semester_index }}
		<a href="{{ (index $semesters $first_semester_index).Permalink }}"><i class="fa fa-angle-double-left"></i></a>
		<a href="{{ (index $semesters $prev_semester_index).Permalink }}"><i class="fa fa-angle-left"></i></a>
		{{ else }}
		<span><i class="fa fa-angle-double-left"></i></span>
		<span><i class="fa fa-angle-left"></i></span>
		{{ end }}

		{{ $viewed_semester := split (index $semesters $semester_index).Permalink "/" }}
		<h2>
			{{ index $viewed_semester 5 | humanize }}
			{{ index $viewed_semester 4 }}
			Members
		</h2>

		{{ if le $next_semester_index $last_semester_index }}
		<a href="{{ (index $semesters $next_semester_index).Permalink }}"><i class="fa fa-angle-right"></i></a>
		<a href="{{ (index $semesters $last_semester_index).Permalink }}"><i class="fa fa-angle-double-right"></i></a>
		{{ else }}
		<span><i class="fa fa-angle-right"></i></span>
		<span><i class="fa fa-angle-double-right"></i></span>
		{{ end }}
	</header>
</section>