{{ define "main" }}
<div id="main-wrapper">
	<div class="container">
		<div class="row">
			<div class="12u">

				<section>
					<header class="major">
						<span>{{ .Date.Format "January 2, 2006" }}</span>
						<h2>{{ .Title }}</h2>
						{{ with .Params.author }}
						<span>By {{ . }}</span>
						{{ end }}
					</header>
					<div class="row">
						<div class="8u -2u">
							<section class="box">
								{{ .Content }}
							</section>
						</div>
					</div>
					<footer class="major">
						{{ with .Params.tags }}
						<ul class="actions">
							<li>Tags:</li>
							{{ range . }}
							<li><a href="/tags/{{ . | urlize }}" class="button alt">{{ . }}</a></li>
							{{ end }}
						</ul>
						{{ end }}
						{{ with .Params.categories }}
						<ul class="actions">
							<li>Categories:</li>
							{{ range . }}
							<li><a href="/categories/{{ . | urlize }}" class="button alt">{{ . }}</a></li>
							{{ end }}
						</ul>
						{{ end }}
					</footer>
				</section>

			</div>
		</div>
	</div>
</div>
{{ end }}
