{{ define "main" }}
<div class="row">
	<div class="12u">
		<section>
			<header class="major">
				<span>{{ .Date.Format "Jan 2 2006" }}</span>
				<h2>{{ .Title }}</h2>
				<span>{{ .Params.location }}</span>
			</header>
			<div class="row">
				<div class="8u -2u">
					<section class="box">
						<span class="image featured"><img src="{{ .Params.featured }}" /></span>
						{{ .Content }}
					</section>
				</div>
			</div>
			<footer class="major">
				{{ with .Params.address }}
				<a style="text-decoration: underline;"
					href="https://www.google.com/maps/dir/?api=1&travelmode=walking&destination={{ . }}">
					<h2>{{ . }}</h2>
				</a>
				{{ end }}
			</footer>
		</section>
	</div>
</div>
{{ end }}